body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{border:0;}
body{background: #f0f0f0;}
.alert span{ text-align: center;}
/*login*/

.login_layout{ padding: 5%;}
.login_main{width:630px; margin: auto;background:#fff;height: 480px;box-shadow: 0px 2px 3px 0px rgba(100,100,100,0.15); padding: 50px;}
.login_logo h1{ font-size: 35px; margin: 0 0 50px 20px;}
.login_logo h1 small{color: #ccc;font-size: 12px;}
.login_submit{width:150px; height: 35px;}
.forgot_password{float: right;}

.head{background-color: #fff;height: 100%;box-shadow: 0px 2px 3px 0px rgba(100,100,100,0.15);border-bottom: 1px solid #ddd}
.header{width:1136px;margin:auto;height:50px;padding-top: 15px;}
.logo{float:left;width: 300px; cursor:pointer;}
.logo_text{font-size: 20px;}
.logo span{ margin-right: 5px;}
.nav{float: right;}
.nav ul li{float: left; margin: 0 10px;}
.nav ul li a{color: #666;text-decoration: none;}
.nav ul li a img{ height:20px;border-radius: 30px; margin-bottom: 2px;}

.main{ width: 960px; margin: auto; padding: 20px 0;}

.dropdown-menu{left: -100px; min-width: 100px;}

.projectMenuShow{
    display: block;
    position: absolute;
    left:0px;
    top: 0px;
    z-index: 1;
    width: 250px;
    padding:10px;
    min-height: 500px;
    border: 1px solid #e8e8e8;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(100,100,100,0.15);
}
/*home*/
.projectList{display: none;}
.projectList ul{padding: 20px;}
.projectList li{
    display: block;
    background: #d5d5d5;
    cursor:pointer;
    /*float: left;*/
    width: 130px;
    height: 60px;
    margin:10px auto;
    border: 1px #e8e8e8 solid;
    padding: 5px;

    /*z-index: 100;*/
}
.projectList li span{
    color: #666;
    text-align: center;
    padding:20px 0 0 20px;
}

.projectList li p{font-size: 12px;}


.designList li{ cursor:pointer; float: left;margin: 10px;width: 215px;height: 160px; border: 1px #e8e8e8 dashed;  padding: 10px;  display: block;  background: #fff;}
/*.projectList li.item{cursor:pointer;}*/

/*设计工作*/
.diy{float:left; margin:0;box-shadow: 0px 2px 3px 0px rgba(100,100,100,0.15);width:680px; height:auto!important;min-height: 664px; padding:20px;background: #fff;}
.diy_name{padding:10px 0;}

.diy_design{margin:10px 0;border-top: 1px #c0c0c0 dashed;}
.diy_design ul li{ padding:15px;list-style:none;height:50px; border-bottom: 1px #c0c0c0 dashed;}
.diy_design ul li span.diy_design_name{ width:100px;}
.diy_design ul li span.diy_design_info{ margin-left:100px;}
.diy_design ul li .li-show {display: none;}
.diy_design ul li.on {position: relative; border: 1px solid #008ed2;}
.diy_design ul li.on .li-show {display: block;position: absolute;left:670px;top: 0; z-index: 1;width: 250px; padding:10px;min-height: 300px; border: 1px solid #008ed2;background: #fff;}

#diy_design_field li{cursor:pointer;}
#diy_design_field li:hover{border: 1px #222 dashed;}
#diy_design_field li.on:hover{border: 1px solid #008ed2;}


.field{margin:0 0 0 690px;padding:10px; width:250px;}
.field h5{color: #555;}
/*字段*/
.field_ul li{cursor:pointer;list-style:none;float:left;margin:5px;padding: 5px;width:100px; background:#fff;color:#2b2b2b;text-align: center;}
.field_ul li:hover{ background:#5bc0de;color:#fff;}

.field_ul li .li-show {display: none;}

/*works-list*/
.works_info{cursor:pointer;}



/*works-show*/
.works_nav{ margin-top: 5px;}
.works_form,.works_msg{margin-top:10px;height:auto!important;min-height: 664px;}
.works_form{float: left; width: 700px;}
.works_form_group{ padding:5px; border-bottom: 1px #e8e8e8 solid;}
.control-label{ border-right: 1px #f5f5f5 solid;}

.works_msg{ margin-left:730px;width: 230px; border: 1px #e8e8e8 solid; padding: 10px;}
.works_msg_block{margin-bottom: 5px;}

.works_msg_user img{border-radius:20px;}
.works_msg_time{float: right;}
.works_msg_info{margin: 2px; padding: 1px;}


/*docs*/
.docs_show_main{width:820px;margin:auto; margin-top: 10px;}

.docs_name{border-bottom: 1px solid #e8e8e8;font-size: 24px; padding: 10px 0;}
.docs_name input{border: 0; width: 675px;}

.footer{margin:10px 0;text-align: center; color: #3c3c3c;}


/*modal*/
.modal{ margin-top: 120px;}