<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    @public_css('/resou/lib/bootstrap/css/bootstrap.css')
    <!--<script id="setJson" type="text/json">[{"template_id":0,"work_design_id":0,"works_name":"名称","tag_id":1,"tag_data":"text","set_default":"无","relate_id":0,"sole":2,"sort":1,"is_table_show":1},{"template_id":0,"work_design_id":0,"works_name":"电话","tag_id":1,"tag_data":"text","set_default":"无","relate_id":0,"sole":1,"sort":2,"is_table_show":1},{"template_id":0,"work_design_id":0,"works_name":"地址","tag_id":1,"tag_data":"text","set_default":"","relate_id":0,"sole":1,"sort":3,"is_table_show":1},{"template_id":0,"work_design_id":0,"works_name":"联系人","tag_id":1,"tag_data":"text","set_default":"","relate_id":0,"sole":1,"sort":4,"is_table_show":1}]</script>-->
    <!--<script id="setJson" type="text/html">-->
        <!--&lt;!&ndash;[{"template_id":0,"work_design_id":0,"works_name":"文本测试1212","tag_id":1,"tag_data":"text","set_default":"无","relate_id":0,"sole":2,"sort":1,"is_table_show":1},{"template_id":0,"work_design_id":0,"works_name":"多文本测试111","tag_id":2,"tag_data":"textarea","set_default":"无","relate_id":0,"sole":1,"sort":2,"is_table_show":1},{"template_id":0,"work_design_id":0,"works_name":"数值测试121212","tag_id":4,"tag_data":"numerical","set_default":"无","relate_id":0,"sole":1,"sort":3,"is_table_show":1}]&ndash;&gt;-->
    <!--</script>-->
    <script id="setJson" type="application/json">
        [{"work_template_id":40,"works_name":"姓名信息","tag_id":1,"tag_data":"text","set_default":"无","relate_id":0,"sole":2,"sort":1,"is_table_show":1},{"work_template_id":41,"works_name":"电话/手机/信息","tag_id":1,"tag_data":"text","set_default":"无","relate_id":0,"sole":1,"sort":2,"is_table_show":1},{"work_template_id":42,"works_name":"地址/住宅/email","tag_id":1,"tag_data":"text","set_default":"","relate_id":0,"sole":1,"sort":3,"is_table_show":1},{"work_template_id":43,"works_name":"星座/生肖","tag_id":1,"tag_data":"text","set_default":"","relate_id":0,"sole":1,"sort":4,"is_table_show":1}]
    </script>
</head>
<body>

</body>
</html>
<script data-main="/resou/js/main.js" data-model="test" src="/resou/js/require.js"></script>