<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script data-main="/resou/js/main.js" data-model="test" src="/resou/js/require.js"></script>
    <script id="setJson" type="text/html">[{"template_id":0,"work_design_id":0,"works_name":"很简单的一个文本","tag_id":1,"tag_data":"text","set_default":0,"relate_id":0,"sole":2,"sort":1},{"template_id":0,"work_design_id":0,"works_name":"多行文本测1212试","tag_id":2,"tag_data":"textarea","set_default":0,"relate_id":0,"sole":1,"sort":2},{"template_id":0,"work_design_id":0,"works_name":"数值类1212型","tag_id":4,"tag_data":"numerical","set_default":0,"relate_id":0,"sole":1,"sort":3}]</script>
</head>
<body>

</body>

</html>