<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@val('name')</title>
    @public_css('/resou/lib/bootstrap/css/bootstrap.min.css')
    @public_css('/resou/lib/fakeLoader/fakeLoader.css')
    @css('main.css')
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="head">

    <div class="header">

        <div class="logo">
            <span class="glyphicon glyphicon-menu-left"></span>
            <span class="title_name"></span>
        </div>

        <!--nav-->
        @load('/public/nav.html')
        <!--./header-->
    </div>
</header>

<section class="main">

    <div class="works_nav">xx-XXX</div>

    <div class="works_form">
        <form class="form-horizontal">

            <div class="form-group works_form_group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <p class="form-control-static">11212</p>
                </div>
            </div>




        </form>
    </div>

    <div class="works_msg">

       <div class="works_msg_block">
          <div class="works_msg_user">
              <img src="http://note.youdao.com/group/images/033488d9.dummy_user.jpg">
              <span>小花</span>
              <span class="works_msg_time">2016-03-13</span>
          </div>
          <div class="works_msg_info">121212</div>
       </div>

        <div class="works_msg_block">
            <div class="works_msg_user">
                <img src="http://note.youdao.com/group/images/033488d9.dummy_user.jpg">
                <span>小强</span>
                <span class="works_msg_time">2016-03-12</span>
            </div>
            <div class="works_msg_info">1是的是的</div>
        </div>

        <div class="works_msg_block">
            <div class="works_msg_user">
                <img src="http://note.youdao.com/group/images/033488d9.dummy_user.jpg">
                <span>小黄</span>
                <span class="works_msg_time">2016-03-11</span>
            </div>

            <div class="works_msg_info">奥弥陀佛,上天如果代表你的心,我不会飞哦...</div>
        </div>

        <!--./works_msg_block-->
    </div>

</section>


</body>
</html>
<script data-main="/resou/js/main.js" data-model="works_show" src="/resou/js/require.js"></script>
